@import "../../styles/vars.scss";

.deal {
  padding: $large-page-padding;
  height: 100%;

  &__deal-menu {
    display: flex;
    margin-top: 86px;
  }

  &__bottom-section {
    display: flex;
    justify-content: space-between;
  }
}

.deal-info {
  width: 387px;
  height: 390px;
  text-align: center;
  
  &__title {
    font-family: inherit;
    font-weight: 400;
    font-size: 36px;
    line-height: 42.19px;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 27px;
  }

  &__description {
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    line-height: 18.75px;
    margin-bottom: 40px;
  }
}

.more-details {
  width: 380px;
  height: 50px;
  text-align: center;
  line-height: 18.75px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  background: $button-background-color;
  color: #fff;
  border-radius: 3px;
  transition: $button-transition;

  &:hover {
    color: #fff;
    box-shadow: $box-shadow-hover-buttons;
  }
}

.bottom-section {
  margin-bottom: 113px;
  &__bottom-info {
    margin-top: 35px;
    width: 792px;
    height: 352px;
  }
}

.bottom-info {
  &__title {
    position: relative;
    margin-bottom: 25px;
    background: url("../../images/deal/ariston.png");
    font-family: inherit;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 28px;
    line-height: 32.81px;
    color: $title-color;

    &::after {
      content: "Ariston Navigation";
      position: absolute;
      width: 250px;
      left: 74px;
      top: 13px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
  }

  &__paragraph {
    display: block;
    margin-bottom: 30px;
  }
}

.info-card {
  display: flex;
  flex-direction: column;
  margin: 125px 0 0 56px;
  width: 387px;
  height: 260px;
  font-size: 14px;
  font-weight: 300;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  &__card-item {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 19px;
  }
}

.transactions {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42.19px;
    color: $main-color;
  }
}

.table {
  text-align: center;
  color: $main-text-color;
  margin-bottom: 210px;
  border-spacing: 0;

  &__header-item {
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: $main-text-color;
    border-collapse: collapse;
    border-bottom: 1px solid $main-text-color; /* Параметры рамки */
  }

  &__body-item {
    padding: 31px 0 25px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: $main-text-color;
    border-collapse: collapse;
    border-bottom: 0.5px solid rgba(116, 116, 116, 0.5);
  }
}

.table-button {
  width: 118.35px;
  height: 30px;
  text-align: center;
  line-height: 18.75px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  background: $button-background-color;
  color: #fff;
  border-radius: 3px;
  transition: $button-transition;

  &:hover {
    color: #fff;
    box-shadow: $box-shadow-hover-buttons;
  }
}

.first-item {
  margin-top: 25px;
}

@media screen and (max-width: $first-decrease-breakpoint) {
  .deal {
    padding: $middle-screen-padding;
  }

  .deal-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .deal-info {
    margin-top: 120px;
  }

  .info-card {
    margin: 65px 0 0 56px;
    width: 387px;
    height: 260px;
    font-size: 12px;
    font-weight: 300;
  }

  .first-item {
    margin-top: 25px;
  }
}

@media screen and (max-width: 1109px) {
  .info-card {
    font-size: 10px;
    font-weight: 300;
  }

  .bottom-info {
    &__paragraph {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 980px) {
  .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 860px) {
  .bottom-info {
    &__description {
      padding: 0 $middle-screen-side-padding;
    }
  }
}
