@import "./vars.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18.75px;
  color: $main-text-color;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  transition: $link-transition;

  &:hover {
    color: $link-hover-color;
  }
}

.no-focus {
  outline: none;
}
