@import "../../styles/vars.scss";

.account-page {
  display: flex;
  margin: 56.4px 0 270px;

  &__account-info {
    margin-left: 122px;
  }
}

.app-button {
  width: 183px;
  height: 40px;
  background-color: #fff;
  border: 1px solid $link-hover-color;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: $link-hover-color;
  transition: $transition-all;

  &:hover {
    color: #fff;
    background-color: $link-hover-color;
    box-shadow: $box-shadow-hover-buttons;
  }
}

.navigation {
  &__nav-list {
    margin-top: 25px;
  }
}

.nav-item {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 35.25px;

  &__link {
    display: block;
    position: relative;

    &:focus {
      outline: none;
      transform: scale(1.05);
    }
  }

  &__wallet {
    width: 23.44px;
    height: 18.75px;
    background: url("../../images/account/wallet-icon.png");

    &::after {
      content: "Wallet";
      position: relative;
      left: 48px;
    }
  }

  &__statements {
    width: 25px;
    height: 18.4px;
    background: url("../../images/account/statement-icon.png");

    &::after {
      content: "Statements";
      position: relative;
      left: 48px;
    }
  }

  &__transactions {
    width: 22px;
    height: 20.62px;
    background: url("../../images/account/transfer-icon.png");

    &::after {
      content: "Transactions";
      position: relative;
      left: 48px;
      top: 1px;
    }
  }

  &__manage {
    width: 16.78px;
    height: 20px;
    background: url("../../images/account/manage-icon.png");
    transition: $transition-all;

    &::after {
      content: "Manage Accounts";
      position: relative;
      display: inline-block;
      width: 130px;
      left: 48px;
    }

    &:hover {
      background: url("../../images/account/manage-active-icon.png");
    }
  }

  &__contact-us {
    width: 24px;
    height: 24px;
    background: url("../../images/account/phone-icon.png");

    &::after {
      content: "Contact Us";
      position: relative;
      display: inline-block;
      left: 48px;
      top: 2px;
      width: 130px;
    }
  }

  &__bank-account {
    width: 30px;
    height: 30px;
    background: url("../../images/account/bank-icon.png");
    transition: $transition-all;

    &::after {
      content: "Bank Account";
      position: relative;
      display: inline-block;
      margin: auto;
      width: 130px;
      left: 48px;
      top: 5px;
    }

    &:hover {
      background: url("../../images/account/active-bank-icon.png");
    }
  }
}

.user-info {
  display: block;
  position: relative;
  width: 90px;
  height: 90px;
  background: url("../../images/account/user-photo.png");
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  color: $main-color;

  &::after {
    content: "User Nickname";
    position: absolute;
    left: 102px;
    top: 19px;
    display: inline;
    width: 150px;
  }
}

.account-info {
  &__info-form {
    margin-top: 30px;
    width: 793px;
  }
}

.form-input {
  border: none;
  height: 24px;
  margin: 5px 0 15px;
  padding-left: 15px;
  background: url("../../images/account/img-for-inputs.png") no-repeat 2px;

  &:focus {
    outline: none;
    background: linear-gradient(180deg, rgba(218, 169, 85, 0) 0%, 
    rgba(218, 169, 85, 0.3) 99.99%,
    rgba(218, 169, 85, 0.2) 100%);
  }
}

.inputs-form {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: $title-color;
  margin: 30px 0 32px;
  background-color: #fbfbfb;
  border-radius: 10px;

  &__left-inputs {
    margin: 0 201px 50px 102px;
  }
}

.left-inputs,
.right-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 220px;
}

.verify-button {
  display: block;
  font-family: inherit;
  width: 259px;
  height: 30px;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  background: $button-background-color;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: $button-transition;

  &:hover {
    color: #fff;
    box-shadow: $box-shadow-hover-buttons;
  }
}

@media screen and (max-width: $first-decrease-breakpoint) {
  .account-page {
    margin: 56.4px $middle-screen-side-padding 192px;
  }
}

@media screen and (max-width: 1195px) {
  .account-page {
    margin: 56.4px $middle-screen-side-padding 192px;
  }

  .account-info {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1099px) {
  .user-info {
    display: flex;
    margin: auto;
    margin-bottom: 50px;

    &::after {
      left: -22px;
      top: 95px;
      width: 150px;
    }
  }

  .left-inputs {
    margin-right: 102px;
    margin-top: 30px;
  }
  
  .account-info {
    &__info-form {
      width: 600px;
    }
  }

  .inputs-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-inputs {
    margin-bottom: 30px;
  }

  .left-inputs,
  .right-inputs {
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 910px) {
  .account-info {
    &__info-form {
      width: 400px;
    }
  }
}
