@import "../../styles/vars.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $footer-header-background-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #fff;
}

.nav {
  display: flex;

  &__header-list {
    display: flex;
  }

  &__logo {
    margin: 15px 17.5px 15px 0;
    background-image: url("../../images/header/logo.png");
    height: 45px;
    width: 65px;
  }
}

.header-list {
  &__header-item {
    margin-top: 33px;
  }
}

.authorization {
  display: flex;
  font-weight: 700;

  &__join {
    margin: 28px 32px 28px 34px;
    text-transform: uppercase;
  }
  &__login {
    margin-top: 28px;
  }
}

.login__link {
  margin-top: 20px;
  padding: 5px 32px;
  text-transform: uppercase;
  line-height: 18.75px;
  border: 2px solid #ae8a4d;
  border-radius: 3px;
  color: #fff;
}

.join__link {
  position: relative;
  cursor: pointer;

  &::before {
    content: url("../../images/header/user-icon.png");
    position: absolute;
    right: 50px;
    width: 20px;
    height: 20px;
  }
}

.header-item {
  &__link {
    padding: 33px 17.5px 21px;
  }
}

.is-active {
  color: $buttons-and-active-color;
  border-bottom: 3px solid $buttons-and-active-color;
}
