@import "./styles/vars.scss";

.app {
  &__header {
    padding: $large-page-padding;
  }

  &__login-page {
    margin: auto;
  }

  &__account-page {
    padding: $large-page-padding;
  }

  &__footer {
    padding: $large-page-padding;
  }

  &__empty-page {
    height: $height-for-small-pages;
    line-height: $height-for-small-pages;
    text-align: center;
  }
}

@media screen and (max-width: $first-decrease-breakpoint) {
  .app {
    &__current-deals-page {
      padding: $middle-screen-padding;
    }
  }
}